.button {
    padding: 0.75em;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color:#04213b;
}

.button-left{
    float: left;
}

.button-right{
    float: right;
}

.button-primary{
    background-color: #04213b;
}