label{
    font-size: medium;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.form-input{
    padding: 20px;
}

.form-control{
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.form-control-small{
    padding: 8px;
    font-size: 13px;
    text-align: center;
}
