label{
    font-size: medium;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.form-input{
    padding: 20px;
}

.form-control{
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.form-group{
    max-width: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}