{% extends 'base.html' %}

{%block title %}
Home
{%endblock%}

{%block content %}
<section id="home">
    <div class="owl-carousel owl-theme">
        <div class="budget_slides row">
            <div class="col-6 d-md-none">
                <div class="justify-center">
                    <img src="{{ url_for('static', filename='img/bugt1.jpg') }}" alt="Budget Slide">
                </div>
            </div>
            <div class="col-6-2">
                <div class="justify-center">
                    <div class="container">
                        <h4 class="poppins_medium">Plan Smart</h4>
                        <h1 class="poppins_large">Spend Wisely</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="justify-center" id="slide1">
                    <div class="container">
                        <h4 class="poppins_medium">Plan Smart</h4>
                        <h1 class="poppins_large">Spend Wisely</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="budget_slides row">
            <div class="col-6 d-md-none">
                <div class="justify-center">
                    <img src="{{ url_for('static', filename='img/bugt2.jpg') }}" alt="Budget Slide">
                </div>
            </div>
            <div class="col-6-2 d-md-none">
                <div class="justify-center">
                    <div class="container">
                        <h4 class="poppins_medium">Save Today</h4>
                        <h1 class="poppins_large">Thrive Tomorrow</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="justify-center" id="slide2">
                    <div class="container">
                        <h4 class="poppins_medium">Save Today</h4>
                        <h1 class="poppins_large">Thrive Tomorrow</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product" class="container grey-bg">
    <div class="budget_slides row">
        <div class="col-6">
            <div class="justify-center">
                <img src="{{ url_for('static', filename='img/money.svg') }}" width="80%" style="align-self: center; color:rgb(79, 47, 47);">
            </div>
        </div>
        <div class="col-6-2">
            <div class="justify-center">
                <div class="container">
                    <h1 class="poppins_large">
                        Budgtr?
                    </h1>
                    <p class="poppins_small">
                        Budgtr is designed to help you manage your finances better. With this app, you can easily create a budget by organizing your allowance and any other money you get into different categories, like savings, snacks, and games. You can set limits for how much you want to spend in each category and get alerts if you’re close to overspending. This way, you can make sure you don’t run out of money too quickly and learn to spend wisely.
                    </p>
                    <p class="poppins_small">
                        The app also helps you keep track of all your expenses. You can manually enter each purchase you make, so you always know where your money goes. This makes it easy to see your spending habits and find ways to save more. Plus, the app offers fun graphs and reports to show your spending in a simple, visual way. There are also tips and tutorials to help you learn more about saving money and reaching your financial goals, making money management both easy and fun!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tryit" class="container">
    <div class="app container">
        <div class="get-started-row">
            <div class="get-started-engine">
                <h2 class="poppins_large engine_header">
                    Get Started
                </h2>
                <div id="engine">
                    <div class="engine_container">
                        <input type="number" placeholder="Budget Amount" name="budget_amount" id="budget_amount" class="form-control">
                        <button class="button button-block engine_button" onclick="startEngine()">Enter</button>
                    </div>
                    <div class="container" id="budget_engine">

                    </div>
                </div>
            </div>
            <div class="get-started-img">
                <div class="justify-center">
                    <img src="{{ url_for('static', filename='img/plan-money.svg') }}" width="80%" style="align-self: center; color:rgb(79, 47, 47);">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="grey-bg">
    <h1 class="poppins_large p-5">
        Meet the Budgtr Team
    </h1>

    <div style="display: flex; height:400px; padding:10px;">
        <div class="profile_card">
            <div class="img-card">
                <img src="{{ url_for('static', filename='img/Solomon.jpeg') }}">
            </div>
            <div class="profile-text">
                <p>
                    Hi everyone! I'm Solomon Okomowho, aka Darth Jade-i, a co-creator of this innovative budgeting app.
                </p>
                <a onclick="openProfileModal('solomon')">Read More</a>
            </div>
        </div>
        <div class="profile_card">
            <div class="img-card">
                <img src="{{ url_for('static', filename='img/Iyanu.JPG') }}">
            </div>
            <div class="profile-text">
                <p>
                    I'm Iyanuoluwa Dayisi, a co-creator of Budgtr. I am Back-End Developer with 4 years experience in the software development industry.                
                </p>
                <a onclick="openProfileModal('iyanu')">Read More</a>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div class="profile-modal">
        <div class="profile-modal-text">
            <p class="p-text-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla asperiores impedit cumque iusto alias pariatur amet repellat. Libero asperiores officiis nulla assumenda quibusdam soluta numquam. Esse amet corporis eum suscipit.
            </p>
        </div>
        <div class="profile-modal-img">
            <img src="" id="profile-modal-img">
        </div>
        <div class="close" onclick="closeModal()">
            <span> &times;</span>
        </div>
        <div class="view-profile">
            <a href="" target="_blank">View Profile &#8594;</a>
        </div>
    </div>
</div>
{%endblock%}
